@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 10% 20%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 46%;
    --accent: 220 13% 91%;
    --accent-foreground: 220 10% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 262 83% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 262 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.gradient-bg-dark {
    background: linear-gradient(-45deg, hsl(var(--primary)/0.3), #e73c7e, #23a6d5, hsl(var(--background)));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradient-card-1 {
  background: linear-gradient(
    135deg,
    hsl(var(--card)),
    hsl(var(--primary)/0.3),
    hsl(var(--muted))
  );
  background-size: 300% 300%;
  animation: gradient 12s ease infinite;
}

.gradient-card-2 {
  background: linear-gradient(
    -135deg,
    hsl(var(--primary)),
    hsl(var(--accent)/0.5),
    hsl(var(--background))
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
