@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* Light Cool Gray */
    --foreground: 222.2 84% 4.9%;
    --card: 210 40% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 40% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 217.2 91.2% 59.8%; /* Bright Blue */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 217.2 91.2% 59.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-bg {
  background: linear-gradient(-45deg, hsl(var(--background)), hsl(var(--primary)/0.1), hsl(var(--background)));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.gradient-bg-dark {
    background: linear-gradient(-45deg, hsl(210 40% 98%), hsl(217.2 91.2% 59.8% / 0.2), hsl(210 40% 98%));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.gradient-card-1 {
  background: linear-gradient(
    135deg,
    hsl(var(--card)),
    hsl(var(--primary)/0.2),
    hsl(var(--muted))
  );
  background-size: 300% 300%;
  animation: gradient 12s ease infinite;
}

.gradient-card-2 {
  background: linear-gradient(
    -135deg,
    hsl(var(--primary)),
    hsl(var(--accent)/0.3),
    hsl(var(--background))
  );
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes scan {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}

.animate-scan {
  animation: scan 2s linear infinite;
}
